################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c++app/v16/ipch/AutoPCH
/.vs/c++app/v16
